.forgot-password {
  left: 165px;
  font-weight: 500;
  display: inline-block;
  width: 128px;
}
.forgot-password,
.remember-me,
.section-forgot-child {
  position: absolute;
  top: 0;
  height: 17.17px;
}
.remember-me {
  left: 25px;
  font-weight: 500;
  color: #093545;
  display: inline-block;
  width: 108px;
}
.section-forgot-child {
  left: 0;
  border-radius: 5px;
  background-color: var(--color-darkslategray-100);
  width: 18px;
}
.section-forgot {
  position: absolute;
  top: 323.15px;
  left: 3px;
  width: 293px;
  height: 17.17px;
  color: #000;
  font-family: var(--font-montserrat);
}
.login {
  position: relative;
  line-height: 20px;
  text-transform: capitalize;
  display: inline-block;
  width: 44px;
  height: 20.2px;
  flex-shrink: 0;
}
.login-btn {
  position: absolute;
  top: 364.56px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #20df7f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 45.44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 12.118215560913086px 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.password1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 65px;
  height: 20.2px;
  flex-shrink: 0;
}
.password {
  position: absolute;
  top: 254.48px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 300px;
  height: 45.44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 12.118224143981934px 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.registration-number {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 155px;
  height: 20.2px;
  flex-shrink: 0;
}
.username {
  position: absolute;
  top: 176.72px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 300px;
  height: 45.44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.sign-in,
.sign-in-and {
  position: absolute;
  display: inline-block;
}
.sign-in-and {
  top: 120.17px;
  left: 18px;
  font-size: var(--font-size-base);
  width: 263px;
  height: 20.2px;
}
.sign-in {
  top: 0;
  left: 44px;
  font-size: 64px;
  width: 212px;
  height: 80.79px;
}
.component-child,
.form {
  position: relative;
  width: 300px;
  height: 410px;
}
.component-child {
  width: 305px;
  height: 67px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.dashboard-login-light-theme-inner {
  backdrop-filter: blur(4px);
  width: 297px;
  height: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-login-light-theme {
  position: relative;
  background-color: #e5e5e5;
  width: 100%;
  height: 720px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 85px 490px 147px;
  box-sizing: border-box;
  gap: 19px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lexend-deca);
}
