body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-7xl: 26px;
  --font-size-base: 16px;

  /* Colors */
  --color-whitesmoke-200: #f7f5f5;
  --color-whitesmoke-100: #f4f4f4;
  --color-black: #000;
  --color-white: #fff;
  --color-lightgray: #cacaca;
  --color-silver-100: #c4c4c4;
  --color-silver-200: #bcbcbc;
  --color-silver-300: #b8b8b8;
  --color-darkgray-100: #b0b0b0;
  --color-darkgray-200: #acacac;
  --color-gray-200: #949494;
  --color-gray-100: #8e8e8e;
  --color-gray-300: rgba(0, 0, 0, 0.2);
  --color-mediumslateblue: #7b61ff;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-12xs: 1px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-5xs: 8px;
  --br-8xs: 5px;
}
