<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./frame-2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="homepage-parent">
      <div class="homepage">
        <div class="header">
          <div class="header-child"></div>
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="signup">SIGNUP</div>
          </div>
          <div class="home-venue-cordinator-about-me-parent">
            <div class="home-venue-cordinator-container">
              <span class="home">Home</span>
              <span> Venue Cordinator About Media Contact Us</span>
            </div>
            <div class="ellipse-parent">
              <div class="group-item"></div>
              <img
                class="search-1-icon"
                alt=""
                src="./public/search-1@2x.png"
              />
            </div>
          </div>
          <div class="rectangle-group">
            <div class="group-child"></div>
            <div class="login">LOGIN</div>
          </div>
        </div>
        <div class="component-1">
          <img
            class="component-1-child"
            alt=""
            src="./public/rectangle-5@2x.png"
          />

          <img
            class="component-1-item"
            alt=""
            src="./public/rectangle-4@2x.png"
          />

          <img
            class="component-1-inner"
            alt=""
            src="./public/rectangle-3@2x.png"
          />

          <img
            class="rectangle-icon"
            alt=""
            src="./public/rectangle-2@2x.png"
          />

          <img
            class="component-1-child1"
            alt=""
            src="./public/rectangle-1@2x.png"
          />
        </div>
        <img class="homepage-child" alt="" src="./public/rectangle-31.svg" />

        <div class="category">Category</div>
        <div class="homepage-item"></div>
        <div class="homepage-inner"></div>
        <div class="rectangle-div"></div>
        <div class="homepage-child1"></div>
        <div class="technical-events">TECHNICAL EVENTS</div>
        <div class="non-technical-events">NON TECHNICAL EVENTS</div>
        <div class="sports-events">SPORTS EVENTS</div>
        <div class="cultural-events">CULTURAL EVENTS</div>
        <div class="view-all8">View All(8)</div>
        <div class="featured-videos">Featured Videos</div>
        <div class="reviews">Reviews</div>
        <div class="vector-parent">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-9@2x.png" />

          <div class="shirley-setia">
            <div class="shirley-setia1">SHIRLEY SETIA</div>
          </div>
        </div>
        <div class="vector-group">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child4" alt="" src="./public/rectangle-10.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-91@2x.png" />

          <div class="bombay-bandook">Bombay Bandook</div>
        </div>
        <div class="vector-container">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-92@2x.png" />

          <div class="rock-a-blast">Rock A Blast</div>
        </div>
        <div class="group-div">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-93@2x.png" />

          <div class="convocation">Convocation</div>
        </div>
        <div class="vector-parent1">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-94@2x.png" />

          <div class="ganesh-chaturthi">GANESH CHATURTHI</div>
          <div class="frame-div"></div>
        </div>
        <div class="vector-parent2">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-95@2x.png" />

          <div class="glamvit">GlamVIT</div>
        </div>
        <div class="vector-parent3">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-96@2x.png" />

          <div class="laser-show">Laser Show</div>
        </div>
        <div class="vector-parent4">
          <img class="group-child1" alt="" src="./public/rectangle-6.svg" />

          <img class="group-child2" alt="" src="./public/rectangle-97@2x.png" />

          <div class="murder-mystrey">Murder Mystrey</div>
        </div>
        <div class="view-all-50">View All (50)</div>
        <div class="venue">VENUE</div>
        <div class="view-all-100">View All (100)</div>
        <div class="ab-001-parent">
          <div class="ab-001">AB-001</div>
          <div class="component-child"></div>
          <i class="i">. </i>
        </div>
        <div class="lc-203-parent">
          <div class="lc-203">LC-203</div>
          <div class="group-child18"></div>
          <i class="i1">. </i>
        </div>
        <div class="football-field-parent">
          <div class="football-field">Football Field</div>
          <div class="group-child18"></div>
          <i class="i1">. </i>
        </div>
        <div class="mph-parent">
          <div class="mph">MPH</div>
          <div class="group-child18"></div>
          <i class="i1">. </i>
        </div>
        <div class="rectangle-container">
          <div class="group-child21"></div>
          <div class="it-wwas-ok">IT WWAS OK OK EVENT FOOOD WAS NOT GOOD</div>
          <div class="ellipse-div"></div>
          <div class="bce-">20BCE-----</div>
        </div>
        <div class="rectangle-parent1">
          <div class="group-child21"></div>
          <div class="it-wwas-ok">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          </div>
          <div class="ellipse-div"></div>
          <div class="bce-">21BCE-----</div>
        </div>
        <div class="rectangle-parent2">
          <div class="group-child21"></div>
          <div class="it-was-best">
            It was best event till yet specifically the ShIrley Setia part and
            Bandook Band concert. Hope to enjoy more sessions like this in
            future.
          </div>
          <div class="group-child25"></div>
          <div class="bce-2">22BCE-----</div>
        </div>
        <div class="ellipse-group">
          <div class="group-child26"></div>
          <img
            class="angle-arrow-down-1-1"
            alt=""
            src="./public/anglearrowdown-1-1@2x.png"
          />
        </div>
        <div class="ellipse-container">
          <div class="group-child27"></div>
          <img
            class="angle-arrow-down-1-11"
            alt=""
            src="./public/anglearrowdown-1-11@2x.png"
          />
        </div>
        <img class="picture-1-icon" alt="" src="./public/picture-1@2x.png" />

        <img class="picture-2-icon" alt="" src="./public/picture-2@2x.png" />

        <img class="picture-3-icon" alt="" src="./public/picture-3@2x.png" />

        <img class="picture-4-icon" alt="" src="./public/picture-4@2x.png" />

        <img class="picture-5-icon" alt="" src="./public/picture-5@2x.png" />

        <img class="picture-6-icon" alt="" src="./public/picture-6@2x.png" />

        <img class="picture-7-icon" alt="" src="./public/picture-7@2x.png" />

        <img class="picture-8-icon" alt="" src="./public/picture-8@2x.png" />

        <div class="group-parent">
          <div class="rectangle-parent3">
            <div class="group-child28"></div>
            <div class="search">Search</div>
          </div>
          <div class="rectangle-parent4">
            <div class="group-child29"></div>
            <img
              class="down-filled-triangular-arrow-icon"
              alt=""
              src="./public/downfilledtriangulararrow-1-2@2x.png"
            />

            <div class="select-category">Select Category</div>
          </div>
          <div class="rectangle-parent5">
            <div class="group-child29"></div>
            <img
              class="down-filled-triangular-arrow-icon1"
              alt=""
              src="./public/downfilledtriangulararrow-1-2@2x.png"
            />

            <div class="select-category">Select Location</div>
          </div>
        </div>
        <img class="group-icon" alt="" src="./public/group-564.svg" />

        <div class="homepage-child2"></div>
        <div class="rectangle-parent6">
          <div class="group-child31"></div>
          <div class="group-child32"></div>
          <div class="group-child33"></div>
          <div class="group-child34"></div>
          <div class="div">1</div>
          <div class="div1">2</div>
          <div class="group-child35"></div>
          <div class="div2">3</div>
          <img
            class="fast-forward-double-right-arro-icon"
            alt=""
            src="./public/fastforwarddoublerightarrowssymbol-1-1@2x.png"
          />

          <img
            class="fast-forward-double-right-arro-icon1"
            alt=""
            src="./public/fastforwarddoublerightarrowssymbol-1-2@2x.png"
          />
        </div>
        <div class="rectangle-parent7">
          <div class="group-child31"></div>
          <div class="group-child32"></div>
          <div class="group-child33"></div>
          <div class="group-child34"></div>
          <div class="div">1</div>
          <div class="div1">2</div>
          <div class="group-child35"></div>
          <div class="div2">3</div>
          <img
            class="fast-forward-double-right-arro-icon"
            alt=""
            src="./public/fastforwarddoublerightarrowssymbol-1-1@2x.png"
          />

          <img
            class="fast-forward-double-right-arro-icon1"
            alt=""
            src="./public/fastforwarddoublerightarrowssymbol-1-2@2x.png"
          />
        </div>
        <div class="latest-media-parent">
          <div class="latest-media">Latest Media</div>
          <div class="view-all-1001">View All (100)</div>
          <div class="vector-parent5">
            <img class="group-child41" alt="" src="./public/rectangle-61.svg" />

            <img class="group-child42" alt="" src="./public/rectangle-98.svg" />

            <div class="bombay-bandook-concert-container">
              <p class="concert">BOMBAY BANDOOK</p>
              <p class="concert">CONCERT</p>
            </div>
            <i class="more">More</i>
          </div>
          <div class="vector-parent6">
            <img class="group-child41" alt="" src="./public/rectangle-61.svg" />

            <img class="group-child42" alt="" src="./public/rectangle-99.svg" />

            <div class="shirley-setia-concert-container">
              <p class="shirley-setia-concert">SHIRLEY SETIA CONCERT</p>
              <p class="concert">&nbsp;</p>
            </div>
            <i class="more">More</i>
          </div>
          <div class="vector-parent7">
            <img class="group-child41" alt="" src="./public/rectangle-61.svg" />

            <img class="group-child42" alt="" src="./public/rectangle-99.svg" />

            <div class="ganesh-chaturthi1">GANESH CHATURTHI</div>
            <i class="more">More</i>
          </div>
          <div class="vector-parent8">
            <img class="group-child41" alt="" src="./public/rectangle-61.svg" />

            <img class="group-child42" alt="" src="./public/rectangle-99.svg" />

            <div class="convocation1">Convocation</div>
            <i class="more">More</i>
          </div>
          <img class="image-2-2" alt="" src="./public/image-2-2@2x.png" />

          <img class="image-2-3" alt="" src="./public/image-2-3@2x.png" />

          <img class="image-2-4" alt="" src="./public/image-2-4@2x.png" />

          <div class="rectangle-parent8">
            <div class="group-child31"></div>
            <div class="group-child32"></div>
            <div class="group-child33"></div>
            <div class="group-child52"></div>
            <div class="div">1</div>
            <div class="div1">2</div>
            <div class="group-child53"></div>
            <div class="div8">8</div>
            <img
              class="fast-forward-double-right-arro-icon"
              alt=""
              src="./public/fastforwarddoublerightarrowssymbol-1-1@2x.png"
            />

            <img
              class="fast-forward-double-right-arro-icon5"
              alt=""
              src="./public/fastforwarddoublerightarrowssymbol-1-2@2x.png"
            />

            <div class="div9">...</div>
          </div>
          <img class="image-2-1" alt="" src="./public/image-2-1@2x.png" />
        </div>
        <img class="homepage-child3" alt="" src="./public/rectangle-31.svg" />

        <img
          class="homepage-child4"
          alt=""
          src="./public/rectangle-20@2x.png"
        />
      </div>
      <img class="frame-child" alt="" src="./public/rectangle-23@2x.png" />
    </div>
  </body>
</html>
